@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string GAKey = Configuration.GetSection("GoogleAnalytics")["Key"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/docs.css" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto:300&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@GAKey"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@GAKey');
    </script>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo">MapToGlobe</a>
            <a href="/examples">Examples</a>
            <a href="/help">Help</a>
            <a href="/contact">Contact</a>
            <a href="/legal">Legal</a>
        </header>
        @RenderBody()
    </div>
</body>
</html>
