
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/_TextLayout.cshtml";
}

<h1>Not Found</h1>
<h3>404</h3>
<p>There's a lot of planets in the universe, but the one you're looking for isn't among them.<br />Perhaps <a href="/">make your own</a> or check out one of the <a href="/examples">examples</a>.</p>