@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Quicksand&display=swap');

@layer base {
    button:focus {
        outline: none;
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Quicksand', Arial, sans-serif;
        font-weight: 500;
    }

    a, p, span, li, label, button {
        font-family: 'Roboto', Arial, sans-serif;
    }

    p, li {
        line-height: 1.5rem;
        margin-top: 0.5rem;
    }

    #container {
        grid-template-columns: 15rem minmax(0,1fr);
    }
}

@layer utilities {
    @variants disabled {
        .cursor-not-allowed {
            cursor: not-allowed;
        }
    }
}