@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500&family=Roboto:wght@300&display=swap');

@layer base {
    button:focus {
        outline: none;
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Alegreya Sans SC', Arial, sans-serif;
        font-weight: 500;
    }

    p, li {
        font-family: 'Roboto', Arial, sans-serif;
        line-height: 1.5rem;
        margin-top: 0.5rem;
    }
}

@layer utilities {
    @variants disabled {
        .cursor-not-allowed {
            cursor: not-allowed;
        }
    }
}