
@{
    ViewData["Title"] = "Examples";
    Layout = "~/Views/Shared/_TextLayout.cshtml";
}


<h1>Examples</h1>
<h3>Planets</h3>
<p>Take a look at what some of our own Solar System's planets look like.</p>
<p>For image credit and license information, please visit the <a href="/licenses">Licenses</a> page.</p>
<div id="planetGrid">
    <div>
        <a href="/mercury">
            <h3>Mercury</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/venus">
            <h3>Venus</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/earth">
            <h3>Earth</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/mars">
            <h3>Mars</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/jupiter">
            <h3>Jupiter</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/saturn">
            <h3>Saturn</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/uranus">
            <h3>Uranus</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/neptune">
            <h3>Neptune</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
    <div>
        <a href="/pluto">
            <h3>Pluto</h3>
            <img src="http://placehold.jp/400x200.png" alt="Alternate Text" />
        </a>
    </div>
</div>