
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_TextLayout.cshtml";
}

<h1>Help</h1>
<h2>Browsers</h2>
<p>
    MapToGlobe is only supported on Chrome and Firefox. While the site may work on mobile, the main experience is made for desktop.
</p>
<h2>Images</h2>
<h3>General Info</h3>
<ul>
    <li>All images, except for images used on rings, should have a width twice that of the height (a 2:1 ratio). If an image is not in this format, it will end up stretched or squished.</li>
    <li>A larger source image will produce a higher-quality result on the object.</li>
    <li>If using a heightmap image, it should be the same resolution as the main surface image.</li>
</ul>
<h3>Terminology</h3>
<ul>
    <li>Surface: The main image displayed on the object.</li>
    <li>Heightmap: An image used to display elevation on the globe.</li>
    <li>Night: An image used to simulate lighting on the dark side of the globe. Only works when atmosphere effect is enabled.</li>
    <li>Specular: An image the represents the amount of reflectivity an area has.</li>
</ul>
<h2>Saving</h2>
<p>The Save feature allows you to save the entire state of the scene and view it again later (or share the link so others can see it!).</p>
<p>Upon saving, you will be provided with two URLs:</p>
<ol>
    <li>A public URL. Your can share this anywhere. Please who use this URL are only able to view your work. They can change is and save it again, but they will be given a new unique URL.</li>
    <li>A private URL. <strong>DO NOT SHARE THIS</strong> This URL allows you to update your save. If your have navigated to the URL and click the "Save" button, the existing save will be updated. If you share this, anyone will be able to change your save.</li>
</ol>
<h3>Updating</h3>
<p>When you save, you will be given a "key" corresponding to your unique URL.</p>
<p>An example: <code>https://www.maptoglobe.com/[youruniqueurl]?key=123456</code></p>
<p>If you wish to update your save, you must include this key. If they key is not included, a new save with a new unique URL will be created.</p>
<h2>FAQ</h2>
<h3>"My map looks weird on the globe"</h3>
<p>
    When converted from a 2D image to something 3D, the image must be assumed to be in a particular format to apply various equations to make it fit on the 3D object (in this case, the sphere). In this case, the format is assumed to be <a href="https://en.wikipedia.org/wiki/Equirectangular_projection">equirectangular</a>. Anything other than this format will result in a distorted view on the sphere.
</p>
<h3>"When I add an image, it just appears as solid black"</h3>
<p>
    This appears to be a limitation of WebGL that is dependent on the computer that is used. In my experience, this usually only happened when trying to add a very large image.
</p>
<h3>Performance Issues</h3>
<p>
    The performance of this web app depends on the computer that is used to access the website. A slower computer will result in worse performance.
</p>
<h2>Issues</h2>
<p>If you have found a problem, please first <a href="https://github.com/kurt1288/MapToGlobe/issues">look through the open issues</a>. If the issue you found has not already been reported, you may <a href="https://github.com/kurt1288/MapToGlobe/issues/new">create a new issue.</a></p>