
@{
    ViewData["Title"] = "Licenses";
    Layout = "~/Views/Shared/_TextLayout.cshtml";
}

<h1>Licenses</h1>
<p>The MapToGlobe website is Copyright &copy; Kurt Peters. The source code is available at <a href="https://github.com/kurt1288/maptoglobe" target="_blank">https://github.com/kurt1288/maptoglobe</a> under the <a href="https://choosealicense.com/licenses/mpl-2.0/" target="_blank">Mozilla Public License 2.0</a> agreement.</p>
<p>MapToGlobe uses some third party packages. They are listed below, under the corresponding license.</p>
<h3>MIT License:</h3>
<ul>
    <li>Three.js</li>
    <li>Three.js Orbit Controls</li>
    <li>Three.js Transform Controls</li>
    <li>Vue.js</li>
    <li>Vuex</li>
    <li>vue-slider-component</li>
    <li>vue-color</li>
    <li>tween.js</li>
    <li>CodenameGenerator</li>
    <li>Microsoft.NETCore.App</li>
</ul>
<h3>Apache License, Version 2.0</h3>
<ul>
    <li>BuildBundlerMinifier</li>
    <li>Microsoft.AspNetCore.App</li>
    <li>Microsoft.AspNetCore.Razor.Design</li>
    <li>Microsoft.VisualStudio.Web.CodeGeneration.Design</li>
</ul>
<h3>PostgreSQL License</h3>
<ul>
    <li>Npgsql.EntityFrameworkCore.PostgreSQL</li>
</ul>
<h3>The following fonts are used (distributed by Google Fonts):</h3>
<ul>
    <li>Alegreya Sans SC - SIL Open Font License, 1.1</li>
    <li>Roboto - Apache License, Version 2.0</li>
</ul>
<h2>Image Information</h2>
<p>Images found on the <a href="/examples">Examples</a> page are sourced and licensed as follows:</p>
<ul>
    <li>Mercury: <a href="https://astrogeology.usgs.gov/search/map/Mercury/Messenger/Global/Mercury_MESSENGER_MDIS_ClrMosaic_global_665m_v3">Source</a> - Arizona State University MESSENGER Team</li>
    <li>Venus: <a href="https://astrogeology.usgs.gov/search/map/Venus/Magellan/Colorized/Venus_Magellan_C3-MDIR_Colorized_Global_Mosaic_4641m">Source</a></li>
    <li>
        Earth:
        <ul>
            <li>Surface Image: <a href="https://visibleearth.nasa.gov/view.php?id=73655">Source</a> - Credit: Reto Stöckli, NASA Earth Observatory</li>
            <li>Topography/Heightmap: <a href="https://visibleearth.nasa.gov/view.php?id=73934">Source</a> - Credit: Imagery by Jesse Allen, NASA's Earth Observatory, using data from the General Bathymetric Chart of the Oceans (GEBCO) produced by the British Oceanographic Data Centre.</li>
            <li>Night lights: <a href="https://www.solarsystemscope.com/textures/">Earth Night Map</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
            <li>Specular map: <a href="https://www.solarsystemscope.com/textures/">Earth Specular Map</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
            <li>Moon Image: <a href="https://www.solarsystemscope.com/textures/">Moon</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
        </ul>
    </li>
    <li>Mars: <a href="https://astrogeology.usgs.gov/search/map/Mars/Viking/MDIM21/Mars_Viking_MDIM21_ClrMosaic_global_232m">Source</a></li>
    <li>Jupiter: <a href="http://www.planetary.org/multimedia/space-images/jupiter/merged-cassini-and-juno.html">Merged Cassini and Juno global map of Jupiter</a> by NASA et al is licensed under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</li>
    <li>Saturn:
        <ul>
            <li>Surface Image: <a href="https://www.solarsystemscope.com/textures/">Saturn</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
            <li>Rings Image: <a href="https://www.solarsystemscope.com/textures/">Saturn Ring</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
        </ul>
    </li>
    <li>Uranus: <a href="https://supernova.eso.org/exhibition/images/uranusmap-10x5k-CC/">Uranus surface map</a> by NASA is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
    <li>Neptune: <a href="https://supernova.eso.org/exhibition/images/NEP0VTT1-CC-10x5k/">Neptune's surface map</a> by NASA is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</li>
    <li>Pluto: <a href="https://photojournal.jpl.nasa.gov/catalog/PIA11707">Source</a> - NASA/Johns Hopkins University Applied Physics Laboratory/Southwest Research Institute</li>
</ul>