body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 50%;
}

header {
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
}

header a {
    color: black;
    margin-right: 1rem;
    text-decoration: none;
}

header > a.logo {
    font-size: 1.3rem;
}

h1 {
    font-size: 3rem;
    margin: 1rem auto;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Alegreya Sans SC', Arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 0rem;
}

li {
    margin-bottom: 0.5rem;
}

p, li {
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

#planetGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template: repeat(3,1fr) / repeat(auto-fit, minmax(15rem,1fr))
}

#planetGrid a {
    text-decoration: none;
    color: black;
}

#planetGrid h3 {
    margin-bottom: 0.3rem;
    text-align: center;
}

#planetGrid img {
    max-width: 100%;
}

form {
    text-align: center;
}

#email, #message {
    border: 1px solid #b3b3b3;
    font-family: 'Roboto', Arial, sans-serif;
    height: 1.4rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    width: 50%;
}

#message {
    height: auto;
    resize: vertical;
}

#submit {
    background: #3371ff;
    border: none;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 1rem;
    padding: 0.5rem;
    width: 6rem;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }
}