.modal-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    width: 500px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.modal-header h3 {
    font-family: 'Alegreya Sans SC', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
}

.modal-body > div {
    margin-bottom: 2rem;
}

.modal-body label {
    width: 100%;
    background: #eaeaea;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
}

.modal-body input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #b7b7b7;
    border-top: none;
}

.modal-close {
    background: #1593ff;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.modal-footer {
    margin-top: 2rem;
}

.modal-close:hover {
    background: #0089ff;
}