html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    user-select: none;
}

#app {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 15rem;
}

#mainCanvas {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
    background-position: 0px 0, 5px 5px;
    background-repeat: repeat, repeat;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-size: 10px 10px, 10px 10px;
    box-shadow: none;
    left: 15rem;
    position: absolute;
    text-shadow: none;
    top: 0;
    transform-origin: 0 0 0;
    transition: none;
    width: calc(100% - 15rem);
    height: 100%;
}

/* Move to navbar.css */
#sideBar {
    background-color: #35536d;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    z-index: 1;
}

#sideBar button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    outline: none;
    text-align: left;
    width: 100%;
}

#sideBar a, #sideBar button, input[type=checkbox] + label, input[type=radio] + label, input[type=file] + label {
    cursor: pointer;
    display: block;
    padding: 0.6rem 2rem;
}

.sidebar-submenu {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-out;
}

.sidebar-submenu h3 {
    padding-left: 3.7rem;
}

#sideBar .sidebar-submenu button, input[type=checkbox] + label, input[type=radio] + label, input[type=file] + label {
    padding-left: 4.7rem;
}

.sidebar-submenu.show {
    display: block;
    height: auto;
}

#sideBar .sidebar-submenu button, .sidebar-submenu h3, .sidebar-submenu label {
    font-size: 0.9rem;
}

.sidebar-group {
    margin: 1rem 0;
}

.sidebar-title h1, .sidebar-category {
    font-family: 'Alegreya Sans SC', Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0 2rem;
}

.sidebar-category {
    color: #bfbfbf;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sideBar button:hover, #sideBar input[type=checkbox] + label:hover, #sideBar input[type=radio] + label:hover, #sideBar input[type=file] + label:hover {
    background-color: #00676b;
}

#sideBar input[type=checkbox], #sideBar input[type=radio], #sideBar input[type=file] {
    display: none;
}

#sideBar input[type=checkbox] + label:after, #sideBar input[type=radio] + label:after, #sideBar input[type=file] + label:after {
    height: 15px;
    content: " ";
    display: inline-block;
    width: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

#sideBar input[type=checkbox]:checked + label:after, #sideBar input[type=radio]:checked + label:after {
    content: "\2713";
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
}

#sideBar button:disabled, input[type=checkbox]:disabled + label, input[type=file]:disabled + label, input[type=radio]:disabled + label {
    color: #c7c7c7;
    opacity: 0.6;
}

#sideBar button:disabled:hover, #sideBar input[type=checkbox]:disabled + label:hover, #sideBar input[type=file]:disabled + label:hover, #sideBar input[type=radio]:disabled + label:hover {
    background-color: inherit;
    cursor: default;
}

.popout {
    background-color: #004d50;
    color: white;
    display: none;
    left: 16rem;
    padding: 1rem;
    position: fixed;
    width: 14rem;
    z-index: 1;
}

.popout h3 {
    padding: 1rem 0 0;
}

.popout p {
    display: block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.9rem;
    padding: 0.6rem 2rem 0 0;
}

.popout input[type=checkbox] + label, .popout input[type=radio] + label {
    padding-left: 1rem;
}

#loadKey, #loadJson {
    display: none;
}

#mobileMessage {
    display: none;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 1rem;
    background: #35536d;
    color: white;
    text-align: center;
    width: 100%;
}

@media (max-width:900px) {
    #app {
        display: none;
    }

    #mainCanvas {
        left: 0;
    }

    #mobileMessage {
        display: block;
    }
}

/* Loading spinner - from http://codepen.io/martinvd/pen/xbQJom */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100px;
    height: 100px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 2s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 2s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 2s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}